body{
    margin: 0;
    padding : 0;


}
header{
    background-color: black;
    color: white;
    padding: 16px 0;
    text-align: center;
}
ul{
    list-style-type: none;
    
}
ul li{
    display: inline;
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul li a:hover{
    background-color: rgb(207, 215, 212);
}
#products{
    display:flex;
    justify-content: space-around;

}
.product{
    border: 1px solid ; 
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}
button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border : none;

}
button:hover{
    background-color: dimgray;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    position : fixed;
    bottom:0;
    width: 100%;
    font-size: 20px;
}